{
  "extends": [
    "plugin:vue/vue3-recommended",
    "@vue/eslint-config-standard-with-typescript",
    "@vue/eslint-config-prettier"
  ],
  "rules": {
    "vue/match-component-import-name": "error",
    "vue/no-ref-object-destructure": "error",
    "vue/no-required-prop-with-default": "error",
    "vue/no-restricted-class": "error",
    "vue/no-template-target-blank": "error",
    "vue/no-this-in-before-route-enter": "error",
    "vue/prefer-prop-type-boolean-first": "error",
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  }
}
